.idea/
docs/generated/
build/
/node_modules/
target/
src/main/docs/index.html
src/main/docs/index.pdf
src/main/docs/index.epub
**/.asciidoctor/
*.drawio.svg.bkp
*.bak
*.cache
**/business-context-codex.svg
**/business-context-gaming.svg
**/business-context-operatives.svg
**/business-context-threats.svg
**/business-context-user.svg
**/quality-tree.svg
**/technical-context.svg
