.idea/
docs/generated/
build/
/node_modules/
target/
src/main/docs/index.html
src/main/docs/index.pdf
src/main/docs/index.epub
**/.asciidoctor/
*.drawio.svg.bkp
*.bak
*.cache
**/business-context-*.svg
**/quality-tree.svg
**/technical-context.svg
