.idea/
docs/generated/
build/
/node_modules/
target/
src/main/docs/index.html
src/main/docs/index.pdf
src/main/docs/index.epub
*.bak
*.cache
**/.asciidoctor/
*.drawio.svg.bkp
**/business-context.svg
**/business-context-*.svg
**/technical-context.svg
**/quality-tree.svg
**/event-flow.svg
**/frontend-integration.svg